.buttonSecondary {
  font-family: var(--font-family-body);
  cursor: pointer;
  font-size: var(--font-size-link);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-dark);
  line-height: var(--spacing-medium);
  padding: var(--spacing-none) var(--spacing-medium);
  background-color: var(--button-background-secondary);
  border: var(--border-transparent);
  border-radius: var(--border-radius-large);
  margin: var(--spacing-medium) 0;
  box-shadow: var(--box-shadow-dark);
}

.buttonSecondary:hover {
  background-color: var(--color-secondary-transparent);
  color: var(--color-primary-lighter);
  border: var(--border-light);
  border-radius: var(--border-radius-large) var(--border-radius-large) var(--border-radius-large) 0;
}
